<% if user_signed_in? %> 
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome back!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome to Concert Tracker!</h1>
            <p>Find out what bands are playing in your town!</p>
            <%= link_to "Learn more »", "#", class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Link up</h2>
                <p>Want to share the experience of watching your favorite band live with others? Here you can meet other locals going to the same show! </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Tickets</h2>
                <p>Avoid markups from resellers and buy your tickets within the community. Here you can buy or sell unused tickets. </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
            <div class="col-md-4">
                <h2>Storytime</h2>
                <p>Share your favorite concert stories in this forum. Recommend a band live? Write a review and convice others to support your favorite band! </p>
                <p><%= link_to "View details", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>